.faq-card {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 0.5vw;
    box-sizing: border-box;
    line-height: 1.5;
    min-height: 80px;
}

.faq-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-top span {
    font-size: 16px;
}

.faq-answer {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.60);
}

@media (max-width: 480px) {
    .faq-card {
        width: 90%;
        padding: 10px;
        border-radius: 7px;
    }

    .faq-top span {
        font-size: 12px;
    }

    .faq-answer {
        font-size: 10px;
    }

}