.partner-card-list{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 480px) {
    .partner-card-list {
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .partner-card-list{
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .partner-card-list{
        width: 90%;
    }
}