.faq-card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  font-family: 'BeVietnamPro';
}

.faq-card-list .tabs-container {
  display: flex;
  width: 65%;
  box-sizing: content-box;
  border-bottom: 0.1vw solid #ccc;
  position: relative;
}

.faq-card-list .tab-item {
  font-size: 1vw;
  color: gray;
  padding: 1vw 2vw;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

.faq-card-list .tab-item.active {
  color: #1976D2;
  font-weight: 700;
}

.faq-card-list .tabs-container .progress-bar {
  width: 210px;
  height: 0.1vw;
  background-color: #1976D2;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

.faq-card-list .no-data {
  font-size: 1vw;
  color: gray;
  font-style: italic;
  margin: 0;
}

.faq-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  max-height: 70vh;
  flex-grow: 1;
  overflow-y: auto;
}

.faq-list-container::-webkit-scrollbar {
  width: 0.4vw;
}

.faq-list-container::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0.1vw;
}

.faq-list-container::-webkit-scrollbar-thumb {
  background: #178DE2;
  border-radius: 0.1vw;
}

.faq-list-container::-webkit-scrollbar-thumb:hover {
  background: #2886ca;
}

@media (max-width: 480px) {
  .faq-card-list .tabs-container {
    width: 90%;
    margin-bottom: 20px;
  }

  .faq-card-list .tab-item {
    font-size: 9px;
  }

  .faq-card-list .tabs-container .progress-bar {
    width: 105px;
  }

  .faq-card-list .no-data {
    font-size: 8px;
  }
}