.data-paper-container td,
.data-paper-container span,
.data-paper-container div,
.data-paper-container p {
   font-family: "BeVietnamPro";
   font-size: 12px;
}

.data-table-container::-webkit-scrollbar {
   width: 0.4vw;
   height: 0.4vw;
}

.data-table-container::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 0.1vw;
}

.data-table-container::-webkit-scrollbar-thumb {
   background: #178DE2;
   border-radius: 0.1vw;
}

.data-table-container::-webkit-scrollbar-thumb:hover {
   background: #2886ca;
}