.navbar-section {
   width: 190px;
   max-height: 100vh;
   background: #fff;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'BeVietnamPro';
   position: relative;
   z-index: 10;
}

.navbar-section a {
   text-decoration: none;
}

.navbar-items,
.navbar-items-wrapper {
   width: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
   overflow-y: auto;
}

.navbar-item {
   width: 100%;
   padding-left: 15px;
   min-height: 35px;
   display: flex;
   align-items: center;
   font-size: 10px;
   cursor: pointer;
   transition: background 0.2s ease;
   position: relative;
   box-sizing: border-box;
}

.navbar-item-icon,
.dropdown-icon {
   font-size: 12px;
   margin-right: 8px;
   color: #000c;
}

.dropdown-icon {
   font-size: 8px;
   position: absolute;
   right: 5%;
   transition: transform 0.2s ease-in-out;
}

.navbar-item-label {
   color: #4A4A4A;
}

.navbar-item:hover,
.navbar-item.active {
   background: #E0F2FF;
}

.navbar-item:hover .navbar-item-label,
.navbar-item:hover .navbar-item-icon,
.navbar-item:hover .dropdown-icon,
.navbar-item.active .navbar-item-label,
.navbar-item.active .navbar-item-icon {
   color: #178DE2;
}

.navbar-item.disabled {
   opacity: 0.3;
   pointer-events: none;
}

.navbar-logo-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   height: 50px;
   cursor: pointer;
}

.navbar-logo {
   width: 80%;
}

.navbar-item.user {
   border-top: 1px solid #D9D9D9;
   border-bottom: 1px solid #D9D9D9;
}

#navbar-logout {
   border-top: 1px solid #E0E0E9;
   background: #FDFDFD;
}

#navbar-logout:hover {
   background: #E0F2FF;
}

.navbar-item .user-avatar {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;
   object-fit: cover;
}

.user-info p {
   margin: 0;
}

.user-name {
   color: #000;
   font-size: 10px;
   font-weight: 500;
}

.user-id {
   color: #178DE2;
   font-size: 8px;
}

/* Dropdown */
.dropdown-container {
   max-height: 0;
   opacity: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-container.show {
   max-height: 200px;
   opacity: 1;
}

.dropdown-item {
   height: 35px;
   padding-left: 20px;
   display: flex;
   align-items: center;
   font-size: 9px;
   color: #000;
}

.dropdown-item:hover,
.dropdown-item.active {
   background: #EBEBEB;
}

.dropdown-item.disabled {
   color: #B8B8B8;
   pointer-events: none;
}

/* Icon rotate when open */
.navbar-item.show .dropdown-icon {
   transform: rotate(-180deg);
}

/* Scrollbar */
.navbar-items-wrapper::-webkit-scrollbar {
   width: 0.25vw;
}

.navbar-items-wrapper::-webkit-scrollbar-track {
   background: #fff;
   border-radius: 0.1vw;
}

.navbar-items-wrapper::-webkit-scrollbar-thumb {
   background: #178DE2;
   border-radius: 0.1vw;
}

.navbar-items-wrapper::-webkit-scrollbar-thumb:hover {
   background: #2886ca;
}

@media (max-width: 900px) {
   .navbar-section{
      width: 45px;
      max-width: 45px;
      min-height: 100vh;
      transition: max-width 0.5s ease-in-out, width 0.5s ease-in-out;
      position: absolute;
   }
   .navbar-item p {
      display: none;
   }
   .dropdown-item{
      display: none;
   }
   .navbar-item.user{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
   }
   .navbar-item .user-avatar {
      width: 35px;
      height: 35px;
      margin: 0;
      padding: 10px 0;

   }
   .navbar-item-label, .dropdown-icon{
      display: none;
   }
   .navbar-item-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .navbar-item-wrapper .navbar-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
   }

   .navbar-item-icon{
      font-size: 20px;
      padding: 15px 0;
   }

   .navbar-item.active{
      background-color: transparent;
   }
   .navbar-item:hover, #navbar-logout:hover {
      background-color: transparent;
   }

   .navbar-logo{
      width: 30px;
      padding: 10px 0;
      margin-top: 0;
   }

   #navbar-logout{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
   }

   .expand-container {
      position: relative;
      width: 100%;
      height: 0;
   }
   
   .expand-container .expand-icon {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(70%);
      color: #fff;
      padding: 5px;
      background-color: #178DE2;
      border-radius: 50%;
   }

   .navbar-section.expanded {
      width: 300px;
      min-height: 100vh;
      max-width: 300px;
      position: absolute;
   }

  .navbar-section.expanded .navbar-item p {
      display: block;
   }
  .navbar-section.expanded .dropdown-item{
      display: block;
      height: 50px;
   }

   .navbar-section.expanded .dropdown-container.show{
      max-height: 500px;
      opacity: 1;
   }

  .navbar-section.expanded .navbar-item.user{
      justify-content: left;
   }

  .navbar-section.expanded .navbar-item-label, .navbar-section.expanded .dropdown-icon{
      display: block;
   }
  .navbar-section.expanded .navbar-item-wrapper{
      width: 300px;
      justify-content: left;
   }

  .navbar-section.expanded .navbar-item {
      width: 300px;
      justify-content: left;
      padding: 0 10px;
   }

  .navbar-section.expanded .navbar-item-icon{
      width: 25px;
      font-size: 20px;
      padding: 15px 0;
      margin-right: 20px;
   }

  .navbar-section.expanded .navbar-item.active{
      background-color: #178de23b;
   }
  .navbar-section.expanded .navbar-item:hover, #navbar-logout:hover {
      background-color: #178de23b;
   }

  .navbar-section.expanded .navbar-logo{
      width: 30px;
      padding: 10px 0;
      margin-top: 0;
   }

  .navbar-section.expanded  #navbar-logout{
      width: 100%;
      justify-content: left;
      padding: 0 10px;
   }

   .navbar-section.expanded  #navbar-logout p {
      text-wrap: nowrap;
   }

  .navbar-section.expanded .expand-container {
      position: relative;
      width: 100%;
      height: 0;
   }

   .navbar-section.expanded p{
      font-size: 15px;
   }
   
   .navbar-section.expanded .user-info {
      padding-left: 10px;
   }

   .navbar-section.expanded .user-info p {
      font-size: 12px;
      text-wrap: nowrap;
   }

   .navbar-section.expanded .dropdown-container.show{
      padding-left: 10px;
   }

   .navbar-section.expanded .navbar-logo{
      height: 30px;
      width: auto;
   }
}