.achievements-selection-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.achievements-selection-page .search-container{
    display: flex;
}

.achievements-container{
    margin-top: 5vw;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 2vw;
}

.achievement-card-list-division {
    width: 100%;
    border: none;
    height: 0.05vw;
    background-color: #ccc;
    margin: 0;
}

.achievements-toolbars {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.achievements-toolbars .action-container {
    width: fit-content;
    display: flex;
    gap: 1vw;

}

@media (max-width: 480px) {
    .achievements-overview-page {
        max-width: 100%;
    }

    .achievements-container {
        width: 100%;
        max-width: 85%;
    }

    .achievements-toolbars {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .achievements-toolbars .action-container {
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }

    .achievements-toolbars button, .search-container button {
        font-size: 10px;
        height: 30px;
        min-width: 80px;
    }

    .achievements-toolbars .search-container {
        width: 100%;
        justify-content: center;
    }

    .achievements-selection-page .achievement-card-list {
        flex-direction: column;
        align-items: center;
    }

    .achievements-selection-page .achievement-card {
        width: 100%;
        height: 80px;
    }
}

@media (min-width: 480px) and (max-width: 768px)  {
    .achievements-overview-page {
        max-width: 100%;
    }

    .achievements-container {
        width: 100%;
        max-width: 90%;
    }

    .achievements-toolbars {
        flex-direction: row;
    }

    .achievements-toolbars button {
        font-size: 10px;
    }
}