.achievements-selection-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.achievements-selection-page .search-container{
    display: flex;
}

.achievements-container{
    margin-top: 5vw;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 2vw;
}

.achievement-card-list-division {
    width: 100%;
    border: none;
    height: 0.05vw;
    background-color: #ccc;
    margin: 0;
}

.achievements-toolbars {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.achievements-toolbars .action-container {
    width: fit-content;
    display: flex;
    gap: 1vw;

}