.unauthorized-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'BeVietnamPro';
    gap: 2vw;
}

.unauthorized-page img {
    width: 30%;
}

.unauthorized-page .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unauthorized-page .error{
    font-size: 2vw;
    font-weight: 700;
    background: linear-gradient(180deg, #0083B0 0%, #00B4DB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1vw 0;
    margin: 0;
}

.unauthorized-page .error-desc{
    width: 80%;
    font-size: 1vw;
    color: #838DA0;
    text-align: center;
    margin: 0;
}

.unauthorized-page .button{
    width: 20%;
    font-size: 1vw;
}

@media (max-width: 480px) {

    .unauthorized-page {
        gap: 20px;
    }

    .unauthorized-page img {
        width: 60%;
    }

    .unauthorized-page .content {
        width: 90%;
    }

    .unauthorized-page .error {
        font-size: 14px;
    }

    .unauthorized-page .error-desc {
        font-size: 10px;
    }

    .unauthorized-page .button {
        width: 50%;
        font-size: 10px;
    }
}