.header {
  width: 100%;
  display: flex;
  font-family: 'BeVietnamPro';
  align-items: center;
  height: 50px;
  padding: 0.5em 1.5em;
  box-shadow: 0 0 4px #292d327c;
  z-index: 8;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header-breadcrumbs li,
.header-breadcrumbs p {
  font-size: 8px;
}

.header-breadcrumbs a {
  text-decoration: none;
  color: inherit;
  font-family: 'BeVietnamPro';
}

.header-breadcrumbs a:hover {
  text-decoration: underline;
}

.header-breadcrumbs p {
  font-weight: 500;
  text-decoration: underline;
  color: inherit;
  font-family: 'BeVietnamPro';
}


.header-title {
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(180deg, #0083B0 0%, #00B4DB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 480px) {
  .header {
    height: 50px;
    padding: 1.5em;
  }

  .header-breadcrumbs li,
  .header-breadcrumbs p {
    font-size: 8px;
  }

  .header-title {
    font-weight: 700;
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    height: 50px;
    padding: 1.5em;
  }

  .header-breadcrumbs li,
  .header-breadcrumbs p {
    font-size: 8px;
  }

  .header-title {
    font-weight: 700;
    font-size: 14px;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: 50px;
    padding: 1.5em;
  }
}