@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;  
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'BeVietnamPro';
  src: url('../src/assets/fonts/BeVietnamPro/BeVietnamPro[wght].ttf') format('truetype');
  font-weight: 100 900;  
  font-style: normal;
}

@font-face {
  font-family: 'BeVietnamPro';
  src: url('../src/assets/fonts/BeVietnamPro/BeVietnamPro-Italic[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: 'Montserrat', 'BeVietnamPro';
}